html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

div {
    position:relative;
    height: 100%;
    width:100%;
    text-align: center;
    top: 1em;

}

p {
    margin: 1em;
}

img {
    margin: auto;
    display: block;
  }